.page-header {
  background: orange;
  color: white;
  font-family: verdana;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.choose-content {
  padding-left: 20px;
  padding-top: 10px;
}
