.page-header {
  background: orange;
  color: white;
  font-family: verdana;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.choose-content {
  padding-left: 20px;
  padding-top: 10px;
  font-family: verdana;
  float: left;
  border: 1px solid black;
}

.main-content {
  display: inline-block;
}

.practice-content {
  width: 500px;
  float: left;
  margin-left: 170px;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid black;
}